body {
    color: #1b2432;
    background-color: #aaadc4;
    margin-left: 200px;
}
.centre{
    color: #1b2432;
    background-color: #9b9ece;
    margin-left: auto;
}
.sidebar{
    position: fixed;
    text-align: left;
    background-color: #9b9ece;
    color: #1b2432;
    width: 190px;
}
